<server>
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>jsonb-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="8080" httpsPort="9443" />

    <keyStore id="defaultKeyStore" password="secret2" />
    <quickStartSecurity userName="admin" userPassword="admin"/>

    <webApplication location="ForecastDiscussions.war" contextRoot="/"/>

    <!-- Tracing if needed -->
    <!-- <logging traceSpecification="*=info:fd.generate=finest" /> -->

</server>

